.item-count-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: white;
    align-items: center;
}

.button {
        border: none;
        padding: 80px;
        border-radius: 3px;
        background-color: green;
        color: white;
}

.item-count-container-dark{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: white;
    align-items: center;
}

.button-dark {
        border: none;
        padding: 20px;
        border-radius: 3px;
        background-color: green;
        color: white;
}
