.item-count-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: white;
    align-items: center;
}

.item-count-container-dark{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: white;
    align-items: center;
}

.btn.btn-success {
    padding: 30px;
}
